.weather-card {
    max-width: 30rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 2rem auto 0;
    border-radius: 1.5rem;
    padding: 2.5rem 2rem;
    text-align: center;
}
.weather-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-city {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0.8rem 2rem;
    height: 3.75rem;
    border-radius: 2.4rem;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.search-img {
    height: 2rem;
    width: 2rem;
}
.search-btn {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}
.weather-info,
.weather-container {
    margin: 2rem;
}
.weather-icon {
    width: 15rem;
    height: 15rem;
}
.weather-holder {
    display: flex;
    justify-content: center;
}
.vertical-line {
    border-left: 0.14rem solid white;
    border-radius: 3rem;
    height: 2rem;
    margin: 0.7rem 0.2rem;
}
.weather-deg {
    font-size: 2.5rem;
    margin: 0.5rem 0.3rem;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.5);
}
.weather-deg.active {
    color: white;
}
.weather-params,
.weather-temp {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    width: 5rem;
}
.weather-params {
    font-size: 1.3rem;
    margin: 0 auto;
}
.weather-text,
.weather-city {
    font-size: 2rem;
    font-weight: 500;
}